/* Ensure the container has some padding and centers the content */
.container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Form container styling */
.form-container {
    background-color: #dddd78;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Responsive image styling */
.responsive-image {
    display: block;
    width: 80%; /* Make the image take up full width of its container */
    max-width: 1800px; /* Set maximum width to make it larger */
    height: auto;
    margin: 0 auto 20px;
}

/* Form fieldset styling */
fieldset {
    border: 1px solid #0a0404;
    border-radius: 8px;
    padding: 20px;
}

/* Legend styling */
legend {
    font-size: 28px;
    color: #0f0404;
    margin-bottom: 15px;
    text-align: center;
}

/* Select box styling */
.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #0a0202;
    border-radius: 0.25rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
     color: #b33900;
}

/* Button styling */
.btn-primary {
    background-color: #ff8800;
    border-color: #0f0908;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #07630b;
    border-color: #02070c;
}
