/* General table styles */
table {
  width: 70%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 8px 15px;
  border: 1px solid #ccc;
}

thead th {
  background-color: #0072ff;
  color: #fff;
  position: relative;
}

thead th button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

td button {
  background-color: #0072ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

td button:hover {
  background-color: #005bb5;
}

td button:active {
  background-color: #004494;
}

/* Pagination controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.pagination-controls button {
  background-color: #0072ff;
  color: #fff;
  border: none;
  padding: 8px 14px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination-controls button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

.pagination-controls button:active {
  background-color: #004494;
  transform: scale(1);
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure modal is on top */
}

/* Modal Content */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-content button {
  margin-right: 10px;
}
