<div class="premium-form-container">
  <h2>Calculate Insurance Premium</h2>
  
  <form (ngSubmit)="onCalculatePremium()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>
    </div>
    
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required>
    </div>
    
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required>
    </div>
    
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" [(ngModel)]="dateOfBirth" name="dateOfBirth" (change)="onDateOfBirthChange($event)" required>
    </div>
    
    <div class="form-group">
      <label for="coverage">Insurance Coverage:</label>
      <select id="coverage" [(ngModel)]="insuranceCoverageAmount" name="coverage">
        <option *ngFor="let option of coverageOptions" [value]="option">{{ option | currency:'INR' }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="duration">Duration (Years):</label>
      <select id="duration" [(ngModel)]="selectedDuration" name="duration">
        <option *ngFor="let duration of durations" [value]="duration">{{ duration }} Years</option>
      </select>
    </div>
    <div><h5>SELECT BAD HABIT</h5></div>
    <div class="form-group">
      <label for="tobacco">Tobacco:</label>
      <input type="checkbox" id="tobacco" [(ngModel)]="hasTobacco" name="tobacco">
    </div>
    
    <div class="form-group">
      <label for="smoking">Smoking:</label>
      <input type="checkbox" id="smoking" [(ngModel)]="hasSmoking" name="smoking">
    </div>
    
    <div class="form-group">
      <label for="alcohol">Alcohol:</label>
      <input type="checkbox" id="alcohol" [(ngModel)]="hasAlcohol" name="alcohol">
    </div>

    <button type="submit">Calculate Premium</button>
  </form>

  <!-- Display premium only if calculatedPremium is set -->
  <div *ngIf="calculatedPremium !== null" class="premium-result">
    <h3>Calculated Premium: {{ getSelectedPremium() | currency:'INR' }}</h3>
  </div>
  <button (click)="navigateToPolicyForm()">Proceed to Policy Form</button>
  <button (click)="navigateToClaimForm()">Proceed to Claim Form</button>
  <button (click)="navigateTopolicystatuscheck()">Proceed to Policy-status-check</button>

</div>
